h1{
    background-color: green;
}

.itemlist-card{
    background-color: rgb(205, 140, 18);
}
.itemListCont{
    border-top: 0px;
    border-bottom: 0px;
}
.contador{
    background-color: green;
}
.btnDetalle{
    border-radius: 20px;
    background-color: lightgreen;
}